.preview {
  width: 50%;
  max-height: 100%;
  padding: 40px;
  background-color: rgb(231, 233, 236);
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 450px;
}

@media only screen and (max-width: 480px) {
  .preview {
    width: 100%;
  }
}

.preview h3 {
  color: rgb(189, 197, 200);
  max-width: 100%;
  text-align: right;
  margin-bottom: 5px;
}

.header {
  height: 120px;
  background-color: rgb(58, 79, 98);
  color: #fff;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  padding-left: 30px;
  position: relative;
}

.header h1 {
  width: 75%;
  word-wrap: normal;
  font-family: "Times New Roman";
}

.photo {
  position: relative;
  width: 100px;
  height: 120px;
  right: 20px;
  top: 20px;
}

.photo img {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 1px solid rgb(189, 197, 200);
}

.info {
  background-color: #fff;
  height: 230px;
  padding: 30px;
}

.info div {
  height: 1.3em;
  border-bottom: 1px solid rgb(189, 197, 200);
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  font-family: "Times New Roman";
  position: relative;
}

.info label {
  color: rgb(58, 79, 98);
  font-family: Arial, sans-serif;
  font-weight: bold;
  font-size: 0.8em;
  display: inline;
  min-width: 20%;
}

.info span {
  color: #000;
  font-size: 1.3em;
  text-overflow: ellipsis;
  min-width: 80px;
  position: relative;
  bottom: 7px;
}
