.App {
  display: flex;
  flex-direction: row;
  font-family: Arial, sans-serif;
  width: 100%;
}

@media only screen and (max-width: 480px) {
  .App {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
